.portfolio__container{
    display: grid;
    grid-template-columns:auto;
    gap: 2.5rem
}

.portfolio__item{
    background: #005A00;
    padding: 1.2rem;
    border-radius: 3.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: #005A00;
    background: transparent;
}

.portfolio__item-image{
    border-radius: 2rem;
    overflow: hidden;
    background-size:contain;
    
}

.portfolio__container img{
    width: 100%;
    height: auto;
}

.portfolio__item h3{
    margin: 1.2rem 0 2 rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES  (MEDIUM DEVICES) */

@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: auto;
        gap: 1.2rem;
    }
}

/* MEDIA QUERIES  (SMALL DEVICES) */

@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: auto;
        gap: 1rem;
    }
}